/** Msun Variables */

/** msun color primary */
$--color-primary: #1890ff;

/** msun color success */
$--color-success: #13ce66;

/** msun color success */
$--color-warning: #ffba00;

/** msun color success */
$--color-danger: #ff4949;

/** msun color success */
$--color-info: #5d5d5d;

/** msun color success */
$--button-font-weight: 400;

/** msun color success */
$--color-text-regular: #1f2d3d;

/** msun color success */
$--border-color-light: #dfe4ed;

/** msun color success */
$--border-color-lighter: #e6ebf5;

/** msun color success */
$--table-border: 1px solid #dfe6ec;

/** The :export directive is the magic sauce for webpack */
:export {
  theme: $--color-primary;
}
