/** 导航高度 */
$--layout-header: 64px;

/** 路由标签高度 */
$--reuse-tab: 34px;

/** 侧边宽度 */
$--layout-sidebar: 250px;

/** 布局间距, 不可改变 */
$--layout-gutter: 8px;

/** 字体大小默认字号 */
$--font-size-base: 13px;

/** 边框大小 */
$--border-width: 1px;

/** 边框样式 */
$--border-style: solid;

/** 边框颜色 */
$--border-color: #d8dce5;

/** 主题颜色 */
$--primary-color: #409eff !default;

/** color|1|Brand Color|0 dark */
$--primary-color-dark: #0b7fea !default;

/** 基础底色 */
$--base-color: #FFF !default;

/** xs 文本大小 */
$--text-xs: $--font-size-base - 1;

/** sm 文本大小 */
$--text-sm: $--font-size-base;

/** md 文本大小 */
$--text-md: $--font-size-base + 1;

/** lg 文本大小 */
$--text-lg: $--font-size-base + 3;

/** xl 文本大小 */
$--text-xl: $--font-size-base + 7;

/** xxl 文本大小 */
$--text-xxl: $--font-size-base + 13;

/** sm 图标大小 */
$--icon-sm: $--font-size-base * 2;

/** md 图标大小 */
$--icon-md: $--font-size-base * 4;

/** lg 图标大小 */
$--icon-lg: $--font-size-base * 6;

/** xl 图标大小 */
$--icon-xl: $--font-size-base * 8;

/** xxl 图标大小 */
$--icon-xxl: $--font-size-base * 10;

